html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Fonts */
@font-face {
    font-family: "origin_font";
    src: url("/My_Projects/minimalist-portfolio/Media/Fonts/origin_font/origin_font_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "origin_font_";
    src: url("/My_Projects/minimalist-portfolio/Media/Fonts/origin_font/origin_font_italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "origin_font";
    src: url("/My_Projects/minimalist-portfolio/Media/Fonts/origin_font/origin_font_bolditalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "origin_font";
    src: url("/My_Projects/minimalist-portfolio/Media/Fonts/origin_font/origin_font_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Typing Effect */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Responsive */
/* Mobile: Small */
@media (max-width: 480px) {
    .main-section {
        
        max-width: 480px;
    }
    .highlights {
        width: 100%;
    }
}

/* Mobile: Large */
@media (min-width: 481px) and (max-width: 767px) {
    .main-section {
        min-width: 471px;
        max-width: 757px;
    }
    .highlights {
        width: 100%;
    }
}

/* Tablet: Portait */
@media (min-width: 768px) and (max-width: 991px) {
    .main-section {
        min-width: 758px;
        max-width: 981px;
    }
    .highlights {
        width: 100%;
    }
}

/* Tablet: landscape / Small Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-section {
        min-width: 982px;
        max-width: 1189px;
    }
    .highlights {
        width: 41rem;
    }
}

/* Desktop: medium */
@media (min-width: 1200px) {
    .highlights {
        width: 41rem;
    }
}

/* Desktop: Large / 4K */
@media (min-width: 1440px) {
    .main-section {
        min-width: 1440px;
    }
    .highlights {
        width: 41rem;
    }
}

/* Body */
body {
    background-color: rgb(46, 46, 46);
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    font-size: 1rem; /* 16px */
    line-height: 1.6;
    font-family: "origin_font";
    color: #fff;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 0.50rem;
    font-weight: 500;
}

p, li {
    font-size: 0.50rem;
}

/* Main Section */
.main {
    padding: 0;
    margin: 10px;
    flex: 1;
}

.main-section {
    background-color: rgb(24, 24, 24);
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 30px;
}

.left-hover img {
    width: 300px;
    animation: showe 1300ms ease-in-out;
    position: absolute;
    top: 12%;
    right: 60%;
}

.right-hover img {
    width: 310px;
    animation: showe 1300ms ease-in-out;
    position: absolute;
    top: 10%;
    left: 60%;
}

@keyframes showe {
    0%{ opacity: 0 }
    100% { opacity: 1 }
}

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Header Section */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-pic .pic {
    width: 140px;
    height: 140px;
    position: relative;
}

.pic .statu {
    width: 140px;
    height: 140px;
    overflow:hidden;
}

.pic .statu img {
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.pic .statu svg {
    fill:none;
    stroke:#008f07;
    stroke-width:2px;
    stroke-dasharray: 0.1;
    stroke-dashoffset:0;
    stroke-linecap:round;
}

.h-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px 0 20px 0;
}

.header h1 {
    text-align: center;
    margin: 0;
    height: 40px
}

.qa, .qa-t {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    opacity: 0;
}

/* Cursor blink */
.qa-cursor {
    display: inline-block;
    color: #55ff00;
    animation: blink 0.8s step-end infinite;
    font-size: 38px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 1; 
    transform: translateY(-13px);
}

@keyframes blink {
    0%, 100% { opacity: 0 }
    50% { opacity: 1 }
}

/* Header Name Section */
.hero-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-name h1 {
    margin: 0;
    height: 40px;
}
.hero-name h2 {
    color: #afafaf;
    margin: 0;
}

/* Highlights Section */
.highlights {
    display: flex;
    place-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.highlights div a {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
    color: rgb(200 200 200);
    text-align: center;
}

.highlight-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.highlights div a .highlight-title h2 {
    margin: 0px;
}

/* first Highlight Section */
.highlight-image .parent-block-one {
    width: 110px;
    height: 110px;
    position: relative;
}

.parent-block-one .child-block-one {
    width: 110px;
    height: 110px;
    overflow:hidden;
}

.parent-block-one .child-block-one img {
    width: 80px;
    border-radius: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.parent-block-one .child-block-one svg {
    fill:none;
    stroke:#afafaf;
    stroke-width:2px;
    stroke-dasharray: 0.1;
    stroke-dashoffset:0;
    stroke-linecap:round;
}

/* Second Highlight Section */
.highlight-image .parent-block-two {
    width: 110px;
    height: 110px;
    position: relative;
}

.parent-block-two .child-block-two {
    width: 110px;
    height: 110px;
    overflow:hidden;
}

.parent-block-two .child-block-two img {
    width: 80px;
    border-radius: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.parent-block-two .child-block-two svg {
    fill:none;
    stroke:#afafaf;
    stroke-width:2px;
    stroke-dasharray: 0.1;
    stroke-dashoffset:0;
    stroke-linecap:round;
}

/* Third Highlight Section */
.highlight-image .parent-block-three {
    width: 110px;
    height: 110px;
    position: relative;
}

.parent-block-three .child-block-three {
    width: 110px;
    height: 110px;
    overflow:hidden;
}

.parent-block-three .child-block-three img {
    width: 80px;
    border-radius: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.parent-block-three .child-block-three svg {
    fill:none;
    stroke:#afafaf;
    stroke-width:2px;
    stroke-dasharray: 0.1;
    stroke-dashoffset:0;
    stroke-linecap:round;
}